<section class="contenedor d-flex align-items-center flex-column">
    <h1 class="fw-bold">EL RECETARIO</h1>
    <h2 class="fs-1">Club de amigos de la comida</h2>
    <h4 class=" " >Club destinado a la gente que le gusta la comida</h4>
    <div class="row w-50">
        
        <p>Se trata de un Lugar donde podrá encontrar una gran cantidad de recetas de varios lugares del mundo</p>
        <p>En nuestra web tiene la oportunidad de hacer sus propias listas personalizadas de recetas.
            <br> No sólo eso, sino que además podrá ver las listas de otros usuarios, 
            lo que le ayudará a la hora de elegir sus recetas favoritas.
        </p>
        <p>En cada receta tiene la descripción de su elaboración así como un enlace a videos de youtube donde podrá ver como 
            ,personas expertas, las elaboran.<br>
        </p>
        <p>Cree su propia lista personalizada con las recetas que le gusten más, y luego, podrá modificar esas recetas 
            o añadir otras nuevas de su propia creación y compartirlas con el resto de usuarios</p>
        <p>Nunca cocinar fue tan fácil, sin necesidad de resgitrarse y totalmente gratis</p>
        <p>Aprenda de los demás y enseñe lo que sabe para llegar a tener una comunidad que nos permita llegar a experiencias culinarias increibles</p>
        <p></p>
    </div>
</section>
