
<form  (ngSubmit) = "crearUsuario()" #crearListasForm="ngForm" class="bg-white w-25 d-flex flex-column justify-content-center p-4 fs-5 m-auto">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre lista</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombreLista" aria-describedby="emailHelp" required #listName="ngModel">
        <div class="alert alert-danger mt-2" [hidden]="listName.valid || listName.pristine">
          El nombre de la lista es obligatorio
        </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label" >Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" aria-describedby="emailHelp" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #mail="ngModel">
      <div class="alert alert-danger mt-2" [hidden]="mail.valid || mail.pristine">
        El email es obligatorio y debe ser correcto
      </div>
    </div>
    <div class="mb-3">
        <label for="usuario" class="form-label" >Username</label>
        <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="username" aria-describedby="emailHelp" required #user="ngModel">
        <div class="alert alert-danger mt-2" [hidden]="user.valid || user.pristine">
          El nombre de usuario es obligatorio
        </div>
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" >Clave de edicion</label>
      <input type="text" class="form-control" [(ngModel)]="passwordLista" name="password" id="exampleInputPassword1" required #pass="ngModel">
      <div class="alert alert-danger mt-2" [hidden]="pass.valid || pass.pristine">
        La clave de edicion es obligatoria
      </div>
    </div>
    <button type="submit" [disabled]="crearListasForm.invalid" class="btn btn-primary">Enviar</button>
  </form>
  
 
